<!--Some Custom Modal-->
<div class="modal full fade search-parent" id="someModal" role="dialog" aria-labelledby="someModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="someModalLabel"><i class="fa fa-photo"></i> &nbsp; <%-lang.ModalTitle%></h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-times"></i> <%-lang.Close%></button>
          <button class="btn btn-info"><%-lang['Sample Language Stuff']%></button>
      </div>
    </div>
  </div>
</div>
